<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.CreateLead@10736d9]<br/></td></tr>
</table>
