<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd7a0">  <td>18/09/30 15:57:49</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase.CreateLead@10736d9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/30 15:57:50</td>   <td>205</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:testcase.CreateLead@10736d9]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/30 15:57:50</td>   <td>214</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.CreateLead@10736d9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/30 15:57:50</td>   <td>954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.CreateLead@10736d9]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/30 15:58:04</td>   <td>14371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.CreateLead@10736d9]">createLead</td> 
  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/30 15:58:08</td>   <td>18496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.CreateLead@10736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/30 15:58:08</td>   <td>18557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.CreateLead@10736d9]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/30 15:58:19</td>   <td>29968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.CreateLead@10736d9]">createLead</td> 
  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/30 15:58:23</td>   <td>33591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.CreateLead@10736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/30 15:58:23</td>   <td>33745</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase.CreateLead@10736d9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
</table>
